require 'rubygems'
require 'sinatra'
require 'sinatra/activerecord'

#set :environment, :production

app = Sinatra::Application
set :database, "sqlite://#{app.environment}.db"
set :root, File.expand_path('../', __FILE__)
#set :database, "mysql://localhost/eloyendionnetrouwen-#{Sinatra::Application.environment}"

require 'logger'
ActiveRecord::Base.logger = Logger.new(File.join(app.root, 'log', "#{app.environment}.log"))

FROM_EMAIL = 'info@eloyendionnetrouwen.nl'
SMTP_HELO = 'eloyendionnetrouwen.nl'
SMTP_HOST = 'mail.authsmtp.com'
SMTP_PORT = 2525
SMTP_USER = 'bob'
SMTP_PASS = 'secret'
