<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <title>Eloy &amp; Dionne trouwen!</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
  </head>
  <%= body_tag %>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <h1><a href="/">&larr; Eloy &amp; Dionne trouwen!</a></h1>
            <%= header_links %>
            <hr class="right"/>
          </div>
          <h2>Here comes the title</h2>
          <hr/>
          <div id="content">
            <p>This is regular text.</p>
            <div>
              <pre>
                <code>
                  <p>This is the styling that applies to a code block with the current styling.</p>
                </code>
              </pre>
            </div>
            <p>
              <span class="small">This is for a footnote.</span>
            </p>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </body>
</html>
