<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <title>Eloy &amp; Dionne trouwen!</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
  </head>
  <%= body_tag %>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <h1><a href="/">&larr; Eloy &amp; Dionne trouwen!</a></h1>
            <%= header_links %>
            <hr class="right"/>
          </div>
          <h2>Eloy en Dionne trouwen!</h2>
          <hr/>
          <div id="content">
            <p>Na ruim 11 jaar, op woensdag 1 juni 2011, gaat het dan eindelijk gebeuren; we stappen in het spreekwoordelijke huwelijksbootje!</p>

            <h3>Builoft</h3>
            <p>Om 13:30 geven wij elkaar het ja-woord in de van Hall-zaal van de Stopera.
            <div class="map">
              <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=stopera,+amsterdam&amp;hl=en&amp;ie=UTF8&amp;view=map&amp;cid=9017771526575964753&amp;hq=stopera,+amsterdam&amp;hnear=&amp;source=embed&amp;ll=52.371355,4.90119&amp;spn=0.009171,0.018239&amp;z=15&amp;output=embed"></iframe>
              <span class="small"><a href="http://maps.google.com/maps?q=stopera,+amsterdam&amp;hl=en&amp;ie=UTF8&amp;view=map&amp;cid=9017771526575964753&amp;hq=stopera,+amsterdam&amp;hnear=&amp;source=embed&amp;ll=52.371355,4.90119&amp;spn=0.009171,0.018239&amp;z=15&amp;iwloc=A">Toon grotere kaart</a></span>
            </div>

            <h3>Feest</h3>
            <p>Vanaf 15:00 tot 01:00 vieren we het heugelijke feit bij Flevor in het Flevopark.</p>
            <p>Tevens zullen we daar rond 18:00 barbecue’en en vanaf 21:00 tot de lichten uit gaan <strike>kan</strike> moet er gedanst worden ;)</p>
            <div class="map">
              <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Flevor,+Flevopark,+Amsterdam,+Nederland&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=38.963048,77.167969&amp;ie=UTF8&amp;hq=Flevor,&amp;hnear=Flevopark,+Zeeburg,+Amsterdam,+North+Holland,+The+Netherlands&amp;cid=5874725237515942624&amp;ll=52.366324,4.949126&amp;spn=0.009172,0.018239&amp;z=15&amp;output=embed"></iframe>
              <span class="small"><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Flevor,+Flevopark,+Amsterdam,+Nederland&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=38.963048,77.167969&amp;ie=UTF8&amp;hq=Flevor,&amp;hnear=Flevopark,+Zeeburg,+Amsterdam,+North+Holland,+The+Netherlands&amp;cid=5874725237515942624&amp;ll=52.366324,4.949126&amp;spn=0.009172,0.018239&amp;z=15&amp;iwloc=A">Toon grotere kaart</a></span>
            </div>
          <hr/>

          <div id="disqus_thread"></div>
          <script type="text/javascript">
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://eloyendionnetrouwen.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>

          </div>
          <hr/>
          <span class="small">Website design van <a href="http://jeffkreeftmeijer.com">Jeff Kreeftmeijer</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
