<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <meta name="description" content="Here comes the title"/>
    <title>Bassie en Adriaan, komen jullie ook op de bruiloft van Eloy &amp; Dionne?</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/images/icon.jpg" rel="apple-touch-icon"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <h1>
            <a href="/">&larr; Eloy &amp; Dionne trouwen!</a>
            </h1>
            <ul>
              <li><a href="/directions">Waar?</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <hr class="right"/>
          </div>
          <h2>Hoi Bassie en Adriaan</h2>
          <hr/>
          <div id="content">
            <p>Wij gaan trouwen en zouden jullie er graag bij hebben!</p>

            <p>Om het feest in goede banen te leiden is het belangrijk dat we weten wie er komen. Dus confirmeer alsjeblieft de onderstaande lijst, of pas hem aan, want anders kunnen we niet garanderen dat je gevoederd wordt!</p>

            <p>
              <form action="/invitations" method="post">
                <fieldset>
                  <label for="attendees">Wij komen:</label>
                  <input type="text" name="attendees" value="Bassie, Adriaan" style="width:80%;" />
                  <span class="small">Scheidt de namen met een comma.</span>
                </fieldset>
              </form>
            </p>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </body>
</html>

